.hero {
  text-align: center;
  margin: 4em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  &__img {
    position: relative;
    max-width: 600px;
    .underlay {
      max-width: 600px;
      position: absolute;
      background: $SoftBlue;
      width: 75%;
      bottom: 0;
      min-height: 12rem;
      z-index: -1;
      right: 0;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
    }
  }

  &__content {
    margin: 2em 0;

    .heading {
      opacity: 0;
      animation-name: scaleBigger;
      animation-duration: 1s;
      animation-fill-mode: both;
    }

    .sub {
      margin: 2em;
    }
    .browser {
      .btn {
        display: inline-block;
        background: $SoftBlue;
        padding: 0.5em;
        color: #fff;
        border-radius: 5px;
        border: 2px $SoftBlue solid;
        margin: 1em 0 0 0.5em;
        box-shadow: 0px 5px 16px -1px rgba(187, 189, 216, 0.7);
        @include transit;
        &:hover,
        &:focus {
          background: #fff;
          color: $SoftBlue;
        }
      }

      .firefox {
        background: lighten(#9194a1, 30%);
        padding: 0.5em 1em;
        color: $VeryDarkBlue;
        border-radius: 5px;
        border: 2px lighten(#9194a1, 30%) solid;
        box-shadow: 0px 5px 16px -1px rgba(187, 189, 216, 0.7);
        @include transit;
        &:hover,
        &:focus {
          background: #fff;
          color: $VeryDarkBlue;
          border: 2px $VeryDarkBlue solid;
        }
      }
    }
  }
}
